<%@meme_by_category.each do |category, memes|%>
    <h1><%=category%></h1>
    <ul>
        <%memes.each do |meme|%>
        <li>
            <%=image_tag(meme[:url_source])%>
            <%=content_tag(:p,"Created by: #{User.find(meme[:owner_id]).username}") %>
        </li>
        <%end%>
    </ul>
<%end%>
